<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Actores</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <a href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House">
        </a>
    </figure>
    <h1>LISTADO DE ACTORES</h1>
    <ul>
        <% for( let i = 0; i < actors.length; i++ ) { %>
        <li>
            <a href="/actors/detail/<%= actors[i].id %>">
                <%= actors[i].last_name %>
                <%= actors[i].first_name %>
            </a>
        </li>
        <% } %>

    </ul>
    <br>
    <a href="/actors/recommended">Recomendados</a>
</body>

</html>